@charset "UTF-8";
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Light.woff2") format("woff2"), url("../fonts/Heebo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url("../fonts/Yantramanav-Bold.woff2") format("woff2"), url("../fonts/Yantramanav-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: black;
  font-family: Heebo, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}

.header-section {
  background-color: #131619;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
}
.header-section__actions {
  display: flex;
  align-items: center;
}
.header-section__nav {
  height: 90px;
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}
.navigation__link {
  letter-spacing: 1.2px;
  font-weight: 700;
}
.navigation__item {
  margin-right: 62px;
}
.navigation__item:last-child {
  margin-right: 12px;
}
.navigation__item.is-current::after {
  content: "•";
  color: white;
  width: 5px;
  height: 5px;
}

.actions {
  column-gap: 40px;
}
.actions__button {
  width: 123.7px;
  height: 38px;
  border-radius: 30px;
  letter-spacing: 1.2px;
  white-space: nowrap;
  font-weight: 700;
}
.actions__burger {
  display: inline-flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding-left: 8px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
}

.burger__line {
  height: 1px;
  width: 6px;
  background-color: white;
  box-shadow: 16px 0 0 white;
}

.hidden {
  display: none;
}

.first-section {
  background-color: #131619;
}

.banner {
  min-height: 985px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 36px 70px;
}
.banner__info {
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
}
.banner__text {
  font-size: 30px;
  line-height: 1.27;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.banner__title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}
.banner__svg {
  display: inline-flex;
  background-image: url("../icons/Vector.svg");
  width: 194px;
  height: 194px;
  margin-right: 30px;
}
.banner__pagination {
  display: flex;
  justify-content: center;
}

.pagination__dot {
  width: 10px;
  height: 10px;
  background-color: #131619;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 14px;
}
.pagination__dot:last-child {
  margin-right: 0;
}

.is-select {
  background-color: white;
}

.second-section {
  background-color: black;
  min-height: 637px;
}
.second-section__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.second-section__right-content {
  margin-block: -60px;
}

.button {
  position: relative;
  border-radius: 50px;
  border: 1px solid white;
  height: 54px;
  width: 193px;
}
.button_black {
  background-color: black;
}
.button_grey {
  background-color: #131619;
}
.button__svg {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 34px;
  height: 34px;
  color: white;
  outline: 1px solid white;
  outline-offset: 9px;
  border-radius: 50%;
}
.button__text {
  position: relative;
  color: white;
  font-weight: 700;
  font-size: 13px;
  right: 25px;
  line-height: 26px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.info {
  position: relative;
  z-index: 1;
}
.info__title {
  font-size: 40px;
  margin-bottom: 14px;
  line-height: 52px;
  text-transform: uppercase;
  position: relative;
}
.info__title::after {
  content: "";
  background-position: center;
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  top: 0;
}
.info__title::before {
  content: attr(data-title);
  z-index: -1;
  -webkit-text-stroke: 1px #404040;
  font-family: Yantramanav, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.info__title_mini-plus::after {
  background-image: url("../icons/Plus.svg");
  width: 26px;
  height: 26px;
}
.info__title_big-plus::after {
  background-image: url("../icons/big-plus.svg");
  width: 34px;
  height: 40px;
}
.info__title_backdrop-black::before {
  color: black;
}
.info__title_backdrop-grey::before {
  color: #131619;
}
.info__title_backdrop-left::before {
  position: absolute;
  top: -0.31em;
  left: -0.62em;
}
.info__title_backdrop-center::before {
  position: absolute;
  left: 50%;
  top: -0.34em;
  translate: -50% 0;
}
.info__title_big-title {
  font-size: 60px;
  line-height: 72px;
}
.info__text {
  font-size: 16px;
  margin-bottom: 37px;
  color: #C4C4C4;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.info__text_big-text {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 33px;
  color: white;
  font-style: normal;
  font-weight: 300;
}
.info__text_centered {
  text-align: center;
}

.third-section {
  background-color: #131619;
  min-height: 624px;
}
.third-section__left-content {
  margin-block: -60px;
}
.third-section__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.four-section {
  position: relative;
  background-color: black;
  min-height: 494px;
  overflow: hidden;
}
.four-section__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 494px;
}

.gym-list {
  position: relative;
}
.gym-list__container {
  min-height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gym-list__item {
  position: relative;
}
.gym-list__arrow {
  background-image: url("../icons/gym-list-arrow.svg");
  background-repeat: no-repeat;
  width: 81.5px;
  height: 81.5px;
  position: absolute;
  right: -78.547px;
  top: -80.547px;
}
.gym-list__title {
  line-height: 28px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.five-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 900px;
  background-image: url("../img/five-section-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.five-section__img {
  width: 960px;
  height: 600px;
  background-image: url("../img/five-section-main.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}
.play-button__arrow {
  color: white;
  position: absolute;
  right: 50px;
}
.play-button__text {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.six-section {
  min-height: 683px;
  background-color: #131619;
  margin-top: -90px;
}
.six-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.six-section__title {
  font-size: 180px;
  line-height: 216px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 82px;
  position: relative;
}
.six-section__title-arrow {
  margin-left: -24px;
}
.six-section__textarea {
  width: 399px;
  height: 54px;
}
.six-section__textarea::placeholder {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}
.six-section__actions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20px;
}

.textarea {
  border-radius: 30px;
  border: 1px solid #404040;
  background-color: #131619;
  padding: 15px 25px;
  resize: none;
  overflow: hidden;
  color: #C4C4C4;
  font-size: 16px;
}
.textarea_black {
  background-color: black;
}
.textarea_short {
  width: 303px;
  height: 54px;
}

.seven-section {
  max-width: 1920px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.seven-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eight-section {
  background-color: #131619;
  overflow: hidden;
}
.eight-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 132px;
}
.eight-section__title {
  margin-bottom: 7px;
}
.eight-section__text {
  margin-bottom: 62px;
}
.eight-section__slider {
  display: flex;
  justify-content: center;
  column-gap: 26px;
}

.nine-section {
  min-height: 725px;
  background-color: #131619;
}
.nine-section__info {
  display: inline-flex;
  min-height: 725px;
  flex-direction: column;
  justify-content: center;
}
.nine-section__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 18px;
  margin-bottom: 26px;
}
.nine-section__textarea {
  min-width: 300px;
  height: 54px;
}
.nine-section__textarea-wide {
  grid-column: 1/-1;
}
.nine-section__title {
  margin-bottom: 16px;
}
.nine-section__text {
  margin-bottom: 31px;
}
.nine-section__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nine-section__right-content {
  width: 610px;
  height: 610px;
  background-color: black;
  border-radius: 50%;
  color: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  line-height: 28px;
  letter-spacing: 0.8px;
  font-size: 16px;
}
.table__item {
  display: inline-flex;
  width: 184px;
  height: 53px;
  align-items: center;
}
.table__item_head {
  height: 66px;
}
.table__item:not(:first-child) {
  padding-left: 30px;
  width: 215px;
  border-left: 1px solid #707070;
}
.table__item_border {
  position: relative;
}
.table__item_border:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 1px;
  background-color: #707070;
}
.table__body td {
  border-top: 1px solid #707070;
}
.table__head {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.table__subtitle {
  display: flex;
  padding-top: 33px;
  color: white;
  font-size: 14px;
}
.table__subtitle_strong {
  font-weight: 700;
}

.footer-section__container {
  min-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-section__title-section {
  display: flex;
  margin-bottom: 60px;
}
.footer-section__logo {
  margin-right: 62.5px;
}
.footer-section__title {
  max-width: 925px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 33px;
}
.footer-section__footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-section__privacy {
  min-height: 52px;
  background-color: #131619;
}

.footer-list__item {
  position: relative;
}
.footer-list__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 37.994px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-list__title_arrow:after {
  content: "";
  background-image: url("../icons/footer-arrow.svg");
  background-position: center;
  display: inline-block;
  width: 16px;
  height: 16px;
  color: white;
  margin-left: 10px;
}
.footer-list__subtitle {
  max-width: 303px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}
.footer-list__subtitle:last-child {
  margin-bottom: 0;
}
.footer-list__button {
  width: 54px;
  height: 54px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 52px;
  z-index: 1;
}
.footer-list__button:before {
  content: "";
  background-image: url("../icons/span.qodef-m-arrow.svg");
  display: inline-block;
  width: 34px;
  height: 34px;
}
.footer-list__textarea {
  margin-bottom: 25px;
}

.fi {
  color: white;
  font-size: 21px;
  margin-right: 19px;
}

.privacy__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-top: 12px;
}
